@import url("https://fonts.googleapis.com/css?family=Raleway:300");
@import url("https://fonts.googleapis.com/css?family=Roboto:300");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300");

body {
	font-family: 'Raleway', 'Roboto', 'Open Sans', sans-serif;
	[darkgreyBackground]
	background-attachment: fixed;
}
h1 {
	font-size: 4rem;
    font-weight: 300;
	line-height: 1.2;
}
h2 {
	margin-bottom: 1rem;
	border-bottom: 2px solid darkcyan;
	font-size: 40px;
	font-weight: 300;
}
h3 {
	margin: 2rem 0 1rem;
	font-size: 30px;
	font-weight: 300;
}
h3::after {
	content: '';
	display: block;
	width: 100px;
	height: 2px;
	margin-right: 100%;
	border: 50px solid mediumorchid;
	border-top: 0;
	border-bottom: 0;
	border-left-color: darkcyan;
}
h4 {
	margin: .5rem 0;
}
hr {
	border: 1px solid darkcyan;
}
.container {
	padding: 1px 1rem 1rem;
}
.darkgreyBackground {
	[darkgreyBackground]
}
.greyBackground {
	[greyBackground]
}
.darkcyan {
	[darkcyan]
}
.default {
	[default]
}
.muted {
	[muted]
}
.primary {
	[primary]
}
.secondary {
	[secondary]
}
.btn {
	padding: .5rem;
	border: 2px solid currentColor;
	text-decoration: none;
	color: darkcyan;
	transition: all .15s ease-in-out;
	transition-property: color, box-shadow;
}
.btn:hover {
	color: 	mediumaquamarine;
	box-shadow: 0 0 5px darkcyan;
}
a {
	color: inherit;
}
pre {
	white-space: pre-wrap;
}
.info, .warning {
	user-select: text;
	margin: 1rem 0;
	padding: .5rem 1rem;
	border-radius: 3px 0 0 3px;
}
.info {
	border-left: 3px solid #0cc;
	background: linear-gradient(to right, #9ff 0%, #9ff 80%, transparent 100%);
}
.warning {
	border-left: 3px solid #cc8400;
	background: linear-gradient(to right, #ffdb99 0%, #ffdb99 80%, transparent 100%);
}
