ul {
	padding-left: 0;
	text-align: center;
}

li {
	display: inline;
	margin: 0 .25em .5em .25em;
	padding: .1em .2em;
	list-style-type: none;
}

a::before {
	content: "⯈ ";
}

li:hover {
	color: #111;
}
